/* Homepage styles */

body {
    margin: 0;
    padding-top: 6rem;

    background: linear-gradient(228deg, #ee7752, #e73c7e, #23a6d5, #e1f57d);
    background-size: 400% 400%;

    -webkit-animation: gradientBackground 20s ease infinite;
    -moz-animation: gradientBackground 20s ease infinite;
    animation: gradientBackground 20s ease infinite;
    /*animations at bottom */
}

.layout {
    margin-top: 1rem;
}

.layout td {
    padding: 2rem;
    width: 25%;
}

.ball {
    width: 20%;
    height: auto;

    -webkit-animation: spin 5s ease-in-out infinite;
    -moz-animation: spin 5s ease-in-out infinite;
    animation: spin 5s ease-in-out infinite;
}

.button {
    font-size: 2rem;
    color: rgb(255, 255, 255);

    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 230% 500%;
    background-position: 100%;

    border: 4px solid rgb(255, 255, 255);
    transition: all 0.5s ease;
    padding: 5px 10px 5px 10px;
}

.button:hover {
    color:rgb(0, 0, 0);
    cursor: pointer;
    background-position: 10%;
}

.popup {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 10%;
}

.animate {
    -webkit-animation: fade 0.4s ease;
    -moz-animation: fade 0.4s ease;
    animation: fade 0.4s ease;
}

.login {
    position: relative;
    background: rgb(255, 255, 255);
    width: 40%;
    padding: 2rem;
}

.popup label {
    float: left;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1rem;
}

.popup h1 {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

input {
  width: 100%;
  padding: 0.5rem;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.close {
  position: absolute;
  right: 1.5rem;
  top: 0;
  color: #000;
  font-size: 4rem;
  font-weight: bold;
}

.close:hover {
  color: rgb(255, 0, 0);
  cursor: pointer;
}

.submitbtn {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  padding: 0.5rem;
  margin-top: 2rem;
  cursor: pointer;
  width: 25%;
  transition: all 0.3s ease;
  font-weight: bold;
  font-size: 1.2rem;
}

.submitbtn:hover {
    background-color: rgb(157, 213, 157);
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 1rem 0rem;
}

.media {
    width: 3rem;
    height: auto;
}

footer ul {
    float: right;
    margin: 0;
    margin-right: 3rem;
    padding: 0;
    list-style: none;
}

footer li {
    display: inline-block;
    margin: 0rem 0.5rem;
}



/* --- Animations --- */

/* Gradient Background Animation */
@-webkit-keyframes gradientBackground {
    0%{background-position:0% 56%}
    50%{background-position:100% 45%}
    100%{background-position:0% 56%}
}
@-moz-keyframes gradientBackground {
    0%{background-position:0% 56%}
    50%{background-position:100% 45%}
    100%{background-position:0% 56%}
}
@keyframes gradientBackground {
    0%{background-position:0% 56%}
    50%{background-position:100% 45%}
    100%{background-position:0% 56%}
}

/* Spin Animation */
@-webkit-keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
@-moz-keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

/* Fade In Animation */
@-webkit-keyframes fade{
    from {opacity:0;}
    to {opacity:100%;}
}
@-moz-keyframes fade {
    from {opacity:0;}
    to {opacity:100%;}
}
@keyframes fade {
    from {opacity:0;}
    to {opacity:100%;}
}
    
 