/* Navbar styles */

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

@font-face {
    font-family: funFont;
    src: url(fonts/LondrinaSolid-Regular.ttf);
}

header {
    background: rgb(243, 243, 243);
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    padding: 0.5rem 0rem 0.5rem 0rem;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    height: 5rem;
    width: auto;
    margin-left: 5%;
}

nav {
    float: right;
    margin-right: 5%;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-top: 1.5rem;
    margin-left: 2rem;
}

nav a {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-family: funFont, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 0 0 0 #000000;
    padding: 0.2rem;
    transition: all 0.2s ease;
}

.open {
    text-decoration: underline;
}

nav a:hover {
    box-shadow: 0 0 0rem 0.2rem #000000;
}

.foot {
    position: fixed;
    z-index: 100;
}