/* Prospects page styles */

@font-face {
    font-family: funFont;
    src: url(fonts/LondrinaSolid-Regular.ttf);
}

body {
    margin: 0;
    padding-top: 6rem;
    background-color: rgb(90, 86, 86);
    font-family: funFont;
    color: rgb(255, 255, 255);
}

.sidebar {
    display: block;
    width: 15rem;
    padding-top: 6rem;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgb(71, 67, 67);
    overflow-x: hidden;
    overflow-y: scroll;
}

.draftorder {
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
}

.draftorder td {
    height: 2rem;
    vertical-align: middle;
}

.draftpic {
    width: 2rem;
    height: auto;
    vertical-align: middle;
}

.tableheader {
    font-size: 1.6rem;
    font-weight: bold;
}

.content {
    margin-left: 15rem;
    padding: 3rem;
}

.prospects {
    width: 100%;
    font-size: 1.8rem;
    border-spacing: 1rem 0;
}

.prospects td {
    padding: 1rem;
    vertical-align: middle;
}

.strongheader {
    color: rgb(137, 220, 137);
    font-size: 2rem;
    font-weight: bold;
}

.modheader {
    color: rgb(219, 220, 137);
    font-size: 2rem;
    font-weight: bold;
}

/* --- Animations --- */