/* Season page styles */

body {
    margin: 0;
    padding-top: 6rem;
}

.layout {
    margin-top: 1rem;
}

.layout td {
    padding: 2rem;
    width: 25%;
}

.ball {
    width: 20%;
    height: auto;

    -webkit-animation: spin 5s ease-in-out infinite;
    -moz-animation: spin 5s ease-in-out infinite;
    animation: spin 5s ease-in-out infinite;
}

.button {
    font-size: 2rem;
    color: rgb(255, 255, 255);

    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 50%);
    background-size: 230% 500%;
    background-position: 100%;

    border: 4px solid rgb(255, 255, 255);
    transition: all 0.5s ease;
    padding: 5px 10px 5px 10px;
}

.button:hover {
    color:rgb(0, 0, 0);
    cursor: pointer;
    background-position: 10%;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 1rem 0rem;
}

.media {
    width: 3rem;
    height: auto;
}

footer ul {
    float: right;
    margin: 0;
    margin-right: 3rem;
    padding: 0;
    list-style: none;
}

footer li {
    display: inline-block;
    margin: 0rem 0.5rem;
}



/* --- Animations --- */