@font-face {
    font-family: funFont;
    src: url(fonts/LondrinaSolid-Regular.ttf);
}

.teambox {
    background-color: rgb(71, 67, 67);
    margin-bottom: 24px;
    padding: 15px;
    width: 30%;
    height: auto;
}

body {
    background-color: rgb(90, 86, 86);
}

.text {
    font-family: funFont;
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 100px;
    white-space: nowrap;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

#NYL {
    background-color: rgb(4, 46, 56, 0.88);
}

#MCM {
    background-color: rgba(67, 189, 130, 0.88);
}

#LAA {
    background-color: rgba(252, 137, 61, 0.88);
}

#HOU {
    background-color: rgba(59, 59, 59, 0.88);
}

#TOR {
    background-color: rgba(253, 90, 112, 0.88);
}

#CHI {
    background-color: rgba(89, 31, 177, 0.88);
}

.containers {
    position: relative;
    width:30%;
}

.overlay {
    position: absolute;
    bottom:0;
    left:100%;
    right:0;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: 0.5s ease;
}

.containers:hover .overlay {
    width: 100%;
    left: 0;
}

#oltitle {
    font-size: 3.75vw;
}

#olcont {
    font-size: 2.5vw;
}

.flexboxol {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    
}

.stars {
    height: 1em;
    width: auto;
}

#spacer{
    height: 80px;
}